<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
    xmlns:rkwOutcome="http://typo3.org/ns/RKW/RkwOutcome/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
<postmaster:email.recipientSalutation queueRecipient="{queueRecipient}" prependText="<postmaster:email.translate key='templates_email_userSurveyRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwOutcome' /> " appendText=","/>
<postmaster:email.replace.redirectLinks queueMail="{queueMail}" isPlaintext="true">
<f:format.stripTags>
<postmaster:email.replace.rteLinks plaintextFormat="true">
<f:format.raw>
<rkwOutcome:email.replace.surveyPlaceHolders
    targetUid="{targetUid}"
    surveyRequest="{surveyRequest}"
    queueMail="{queueMail}"
    isPlaintext="true"
    generatedTokens="{generatedTokens}"
    surveyRequestTags="{surveyRequestTags}"
>
<postmaster:email.plaintextLineBreaks convertLineBreaks="true">{mailText}</postmaster:email.plaintextLineBreaks>
</rkwOutcome:email.replace.surveyPlaceHolders>
</f:format.raw>
</postmaster:email.replace.rteLinks>
</f:format.stripTags>
</postmaster:email.replace.redirectLinks>
</f:section>

<!-- HTML -->
<f:section name="Html">
    <h1>
        <postmaster:email.recipientSalutation queueRecipient="{queueRecipient}" prependText="<postmaster:email.translate key='templates_email_userSurveyRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwOutcome' /> " appendText=","/>
    </h1>
    <p>
        <f:format.raw>
            <postmaster:email.replace.redirectLinks queueMail="{queueMail}" isPlaintext="false">
                <rkwOutcome:email.replace.surveyPlaceHolders
                    targetUid="{targetUid}"
                    surveyRequest="{surveyRequest}"
                    queueMail="{queueMail}"
                    isPlaintext="false"
                    generatedTokens="{generatedTokens}"
                    surveyRequestTags="{surveyRequestTags}"
                >
                    {mailText}
                </rkwOutcome:email.replace.surveyPlaceHolders>
            </postmaster:email.replace.redirectLinks>
        </f:format.raw>
    </p>
    <p><postmaster:email.translate key="templates_email_userSurveyRequest.orderInfo" languageKey="{queueRecipient.languageCode}" arguments="{0: '{f:format.date(date: process.date, format: \'d.m.Y H:i\')}', 1: '{process.targetGroup.name}', 2: '{process.subject.name}'}" extensionName="rkwOutcome"/></p>
</f:section>
