<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwMailer="http://typo3.org/ns/RKW/RkwMailer/ViewHelpers"
    xmlns:rkwOutcome="http://typo3.org/ns/RKW/RkwOutcome/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
    <rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:email.translate key='templates_email_userSurveyRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwOutcome' /> " appendText=","/>

    <rkwMailer:email.replace.redirectLinks queueMail="{queueMail}" isPlaintext="true">
        <rkwOutcome:email.replace.surveyPlaceHolders
            targetUid="{targetUid}"
            surveyRequest="{surveyRequest}"
            queueMail="{queueMail}"
            isPlaintext="true"
            generatedTokens="{generatedTokens}"
        >
            {mailText}
        </rkwOutcome:email.replace.surveyPlaceHolders>
    </rkwMailer:email.replace.redirectLinks>
</f:section>

<!-- HTML -->
<f:section name="Html">
    <h1>
        <rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:email.translate key='templates_email_userSurveyRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwOutcome' /> " appendText=","/>
    </h1>
    <p>
        <f:format.nl2br>
            <rkwMailer:email.replace.redirectLinks queueMail="{queueMail}" isPlaintext="false">
                <rkwOutcome:email.replace.surveyPlaceHolders
                    targetUid="{targetUid}"
                    surveyRequest="{surveyRequest}"
                    queueMail="{queueMail}"
                    isPlaintext="false"
                    generatedTokens="{generatedTokens}"
                >
                    {mailText}
                </rkwOutcome:email.replace.surveyPlaceHolders>
            </rkwMailer:email.replace.redirectLinks>
        </f:format.nl2br>
    </p>
    <p><rkwMailer:email.translate key="templates_email_userSurveyRequest.orderInfo" languageKey="{queueRecipient.languageCode}" arguments="{0: '{f:format.date(date: process.date, format: \'d.m.Y H:i\')}', 1: '{process.targetGroup.name}', 2: '{process.subject.name}'}" extensionName="rkwOutcome"/></p>
</f:section>
