<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwMailer="http://typo3.org/ns/RKW/RkwMailer/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
    <rkwMailer:plaintextLineBreaks>
        <rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:email.translate key='templates_email_userSurveyRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwOutcome' /> " appendText=","/>
        \n\n
        {surveyRequest.surveyConfiguration.mailText}
        \n\n
        <f:for each="{surveyRequest.surveyConfiguration.survey}" as="survey">
            <rkwMailer:email.replace.redirectLinks queueMail="{queueMail}" isPlaintext="true">
                <rkwMailer:frontend.link absolute="TRUE" pageUid='{surveyPid}' action='welcome' controller='Survey' extensionName='RkwSurvey' pluginName='Survey' arguments='{survey: survey, surveyRequestTags: surveyRequestTags}' />
            </rkwMailer:email.replace.redirectLinks>
            \n\n
        </f:for>
    </rkwMailer:plaintextLineBreaks>
</f:section>

<!-- HTML -->
<f:section name="Html">
    <h1>
        <rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:email.translate key='templates_email_userSurveyRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwOutcome' /> " appendText=","/>
    </h1>
    <p>
        <f:format.nl2br>{surveyRequest.surveyConfiguration.mailText}</f:format.nl2br>
    </p>

    <f:for each="{surveyRequest.surveyConfiguration.survey}" as="survey">
        <p>
            <rkwMailer:email.replace.redirectLinks queueMail="{queueMail}">
                <a href="<rkwMailer:frontend.link absolute='TRUE' pageUid='{surveyPid}' action='welcome' controller='Survey' extensionName='RkwSurvey' pluginName='Survey' arguments='{survey: survey, surveyRequestTags: surveyRequestTags}' />" target="_blank">
                    <rkwMailer:frontend.translate key="templates_email_userSurveyRequest.goToSurvey" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOutcome" arguments="{0 : survey.name}"/>
                </a>
            </rkwMailer:email.replace.redirectLinks>
        </p>
    </f:for>
</f:section>
