<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true">
	
	<f:layout name="BackendModule" />
	
	<f:section name="content">

        <h1><f:translate key='templates_backend_list.header' extensionName='RkwSurvey' /></h1>
        
        <p>Wie viele Personen haben Produkte bestellt, die wir messen? {data.frontend_users}</p>
        <p>Wie viele davon haben bereits Ihr Einverständnis erklärt, dass wir sie kontaktieren dürfen?</p>
        <p>Wie viele E-Mails wurden bereits versandt?</p>
        <p>Wie viele Feedbacks haben wir erhalten?</p>
        <p>Wie viele dieser Feedbacks sind vollständig?</p>
	
	</f:section>
</html>